<html>
    <%- include('head.ejs') %>
    <body>
        <%- include('nav.ejs') %>
        <h3>Oops!</h3>
        <p>404 Invalid search</p>
        <%- include('footer.ejs') %>
    </body>
</html>        
