<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h3>Oops!</h3>
        <p>404 Invalid search</p>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>        