<!DOCTYPE html>
  <html>
    
  <%- include('head.ejs')%>
    <body>
     
    <%- include('nav.ejs')%>

      <h2>Know about us</h2>
      <h1>You can visit us at
        karangwacedrick2@gmail.com</h1>
        <%- include('footer.ejs')%>
          
            
            </body>
            </html>    
