<!DOCTYPE html>
  <html>
    <%- include('./partials/head.ejs')%>
    <body>
      <%- include('./partials/nav.ejs')%>
      <h2>If you have an account you can log in</h2>
      <form>
        <label id="username">
            Username
            <input type="text" size="15px">
        </label>
        <label id="password">
            password
            <input type="password" size="12px">
            </label>
            <button type="submit">Log in</button>
            </form>
            <%- include('./partials/footer.ejs')%>
            </body>
            </html>    