<nav>
        
   

  <div class="site-settings content">
    <ul>
    <li><a href="/">NOOTE</a></li>
    <li><a href="/sign">New account</a></li>
    <li><a href="/log">Log in</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/note/create">New note</a></li>
    <li><a href="/profile">Profile</a></li>
    </ul>
  </div>
  </nav>