<!DOCTYPE html>
  <html>
    <%- include('./partials/head.ejs')%>
        
    <body>
      <%- include('./partials/nav.ejs')%>
      
    
      
      
      <h2 id="welcome"
      onclick="cedrick()">Welcome to NOOTE</h2>
      <button type="submit" id="sign">
    
        <a href="/sign">
       Sign up
          </a>
          </button>
          <button type="submit" id="log">
           
            <a href="/log">
             Log in
            </a>
          </button>
          <%- include('./partials/footer.ejs')%>
    </body>
  </html>  
